/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
  color: blue;
}

.pagina {
  background-color: gold;
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dadi {
  display: flex;
  margin: 50px;
}

.dadi * {
  margin: 20px;
}

#giocatore{
  background-color: white;
}

#banco {
  background-color: grey;
}

#esito {
  background-color: lightgreen;
}
